@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.search-form .form-control {
    margin: 0;
    padding-right: 2.25rem!important;
}
.image-list {
    padding: 0;
    margin: 0;
}
.image-list>li {
    clear: both;
    display: block;
    overflow: hidden;
}
.image-list figure {
    float: left;
    width: 3.5rem;
    height: 3.5rem;
}
.image-list .post-content {
    margin-bottom: 10px;
}
.unordered-list{
    margin: 0;
    padding: 0;
}

.widget{
    padding:0 0 25px;
}
.link-dark {
    color: #343f52;
}
.post-meta {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: .7rem;
    color: #aab0bc;
}
.post-meta li {
    display: inline-block;
}
.post-meta li i {
    padding-right: 0.2rem;
    vertical-align: -0.05rem;
}
.uil-calendar-alt:before {
    content: "\e9ba";
}
.image-list img, .card-img-top img, .blog-field .img-sec img{
    max-width: 100%;
    height: auto;
}

.blog-field{
    padding: 0 0 40px;
}
.blog-field a {
    display: flex;
    margin:0;
    bottom: 70px;
}
.blog-field p{
    color:#000;
    margin:0 0 10px;
}
.blog-field:hover h2{
    color:#ec0000;
}
.blog-field a .img-sec {
    width: 300px;
}
.blog-field img,{
    max-width: 100%;
    border: 0;
    vertical-align: middle;
}
.blog-details .img-sec{
    text-align: center;
    margin:30px 0;
}
.blog-details .img-sec img {
    max-width: 60%;
    border: 0;
    vertical-align: middle;
}
.blog-details h3{
    padding: 0 0 7px;
}
.info-box {
    flex: 1;
    margin-left: 45px;
    align-self: center;
}
.subhead {
    color: #999;
}
.subhead {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
}
.blog-field .mainhead {
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 16px;
    color: #000;
}
.blog-details .mainhead2 {
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 16px;
    color: #000;
}
.blog-details .pera{
    padding:0 0 15px;
}
.blog-field .pera {
    display: block;
}
.date {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #999;
    margin-top: 0;
    height: 25px;
    position: relative;
}
.date > span{
    display: inline-block;
    padding:0 5px 0 0;
}
.widget .unordered-list li{
    padding: 0 0 5px;
}